WARNING: Kubernetes configuration file is group-readable. This is insecure. Location: /home/sjafari/.kube/config
WARNING: Kubernetes configuration file is world-readable. This is insecure. Location: /home/sjafari/.kube/config
Pulled: registry-1.docker.io/bitnamicharts/kafka:26.8.4
Digest: sha256:231ed7c76472a255bd87e0628b4f5b507efc39264f9757a582f68ab4d6065ebc
NAME: pipe-kafka
LAST DEPLOYED: Wed Feb  7 05:41:40 2024
NAMESPACE: kafkastreamingdata
STATUS: deployed
REVISION: 1
TEST SUITE: None
NOTES:
CHART NAME: kafka
CHART VERSION: 26.8.4
APP VERSION: 3.6.1

** Please be patient while the chart is being deployed **

Kafka can be accessed by consumers via port 9092 on the following DNS name from within your cluster:

    pipe-kafka.kafkastreamingdata.svc.cluster.local

Each Kafka broker can be accessed by producers via port 9092 on the following DNS name(s) from within your cluster:

    pipe-kafka-controller-0.pipe-kafka-controller-headless.kafkastreamingdata.svc.cluster.local:9092
    pipe-kafka-controller-1.pipe-kafka-controller-headless.kafkastreamingdata.svc.cluster.local:9092
    pipe-kafka-controller-2.pipe-kafka-controller-headless.kafkastreamingdata.svc.cluster.local:9092

The CLIENT listener for Kafka client connections from within your cluster have been configured with the following security settings:
    - SASL authentication

To connect a client to your Kafka, you need to create the 'client.properties' configuration files with the content below:

security.protocol=SASL_PLAINTEXT
sasl.mechanism=SCRAM-SHA-256
sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required \
    username="user1" \
    password="$(kubectl get secret pipe-kafka-user-passwords --namespace kafkastreamingdata -o jsonpath='{.data.client-passwords}' | base64 -d | cut -d , -f 1)";

To create a pod that you can use as a Kafka client run the following commands:

    kubectl run pipe-kafka-client --restart='Never' --image docker.io/bitnami/kafka:3.6.1-debian-11-r4 --namespace kafkastreamingdata --command -- sleep infinity
    kubectl cp --namespace kafkastreamingdata /path/to/client.properties pipe-kafka-client:/tmp/client.properties
    kubectl exec --tty -i pipe-kafka-client --namespace kafkastreamingdata -- bash

    PRODUCER:
        kafka-console-producer.sh \
            --producer.config /tmp/client.properties \
            --broker-list pipe-kafka-controller-0.pipe-kafka-controller-headless.kafkastreamingdata.svc.cluster.local:9092,pipe-kafka-controller-1.pipe-kafka-controller-headless.kafkastreamingdata.svc.cluster.local:9092,pipe-kafka-controller-2.pipe-kafka-controller-headless.kafkastreamingdata.svc.cluster.local:9092 \
            --topic test

    CONSUMER:
        kafka-console-consumer.sh \
            --consumer.config /tmp/client.properties \
            --bootstrap-server pipe-kafka.kafkastreamingdata.svc.cluster.local:9092 \
            --topic test \
            --from-beginning
